html {
	background: #EEEEE6;
}

body {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
    margin: 0;
}

/*header*/
#header {
	width: 820px;
	margin: auto;
}

#header h1 {
	color: #680;
	float: right;
	padding-top: 18px;
}

#header h2 {
	color: #680;
	float: left;
	position: relative;
	width: 540px;
	padding: 18px 0px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 2em;
}

#header h1, h2 {
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

#header #nav a {
	text-decoration: none;
	color: #333;
	padding: 3px;
}

#nav {
	text-align: right;
	top: 30px;
	float: right;
	clear: right;
}
/*header end*/

/*content*/
#content {
	width: 820px;
	margin: auto;
	overflow: hidden;
	clear: both;
}

#main {
	width: 540px;
	float: left;
	padding-top: 80px;
}

#article {
	margin-bottom: 40px;	
}

#slide {
	float: right;
	width: 220px;
	font-size: 80%;
	padding-top: 20px;
}

#tag_cloud a{
       color:#668800;
}

#tag_cloud a:hover{
       text-decoration:underline;
}

#ourdays {
    background:url("notice.jpg") no-repeat;
    text-align: center;

}

#title, div sapn  {
	font-size: 1.3em;
	font-weight: bold;
	font-family: "Microsoft YaHei", "SimHei";
	margin-bottom: 3px;
	clear: both;
}

#title a {
	text-decoration: none;
	color: #000;
}

#title a:hover {
	color: #680; 
}

#extra {
	margin-bottom: 12px;
}

#extra #timestamp, #commint {
	float: left;
	margin-right: 10px;
	font-family: fantasy;
	font-size: 0.9em;
	color: #4f4f4f;
}

#extra #author {
	font-size: 0.9em;
	color: #4f4f4f;
}

#text {
	font-family: "PT Serif",Georgia,Times,"Times New Roman",serif;
	line-height: 23px;
}

.fulltext {
	float: right;
	clear: both;
	margin-bottom: 30px;
}

.fulltext a{
	text-decoration: none;
	color: #969595;
}

#comment {
	border-top: 1px solid #CCC;
}

#comment-author {
	font-size: 0.9em;
	font-style: italic;
}

#comment-timestamp {
	font-size: 0.8em;
	font-style: italic;
}

#comment h3 {
	font-size: 1.17em;
	font-weight: bold;
	margin-bottom: 8px;
}
#comment ul {
	padding-top: 2px;
}

#comment ul li {
	border-top: 1px dotted #CCC;
	padding: 15px 0;
}

#comment ul li p {
	margin-bottom: 0;
}
/*content end*/

/*footer*/
#footer {
	clear: both;
	font-size: 90%;
	width: 820px;
	margin: auto;
}
